*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 2rem;

  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.header {
  padding-top: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    height: 100%;
    display: flex;
  }
  
  &__content {
    padding: 1rem;
    width: 25rem;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pic {
    width: 10rem;
    border: 1px solid black;
  }
}

.main {
  min-width: 100%;
  text-align: center;
  overflow-x: auto;

  &__header {
    position: sticky;
  }

  &__container {
    height: 100%;

    display: flex;
    justify-content: center;
  }

  &__content {
    padding: 1rem;
    width: 25rem;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pic {
    width: 10rem;
    border: 1px solid black;
  }
}

.heading {
  &--1 {
    font-size: 10rem;
    padding: 0;
  }
}

.button {
  &__sort {
    cursor: pointer;
  }
}